humanitec_organization = "HUMANITEC_ORGANIZATION"
humanitec_token        = "HUMANITEC_TOKEN"

access_key     = "AWS_ACCESS_KEY"
secret_key     = "AWS_SECRET_KEY"
terraform_role = "arn:aws:iam::ACCOUNT_ID:role/<<HUMANITEC-ROLE-FOR-TERRAFORM-DEPLOYMENT>>"

app_id = "myeksapp"

cluster_oidc = "CLUSTER_OIDC"
region       = "ca-central-1"
