humanitec_organization = ""
humanitec_token        = ""
region                 = "ca-central-1"
app_name               = "test-s3-tf"

access_key      = "XXX"
secret_key      = "XXX"
assume_role_arn = "arn:aws:iam::XXX:role/humanitec-terraform-admin"
